*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
    font-family: "plain light";
}
html,body{
    height: 100%;
    width: 100%;
}
#crsr{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    border:1px solid rgba(255, 255, 255, 0.762);
    position:fixed;
    z-index: 99;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
}
#loader{
    height: 100%;
    width: 100%;
    background-color: #0b0b0b;
    position:fixed;
    z-index: 9999;
    padding: 25vh 10vw;
}

.line{
    height: fit-content;
    overflow: hidden;  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}
.line-part1{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.line-part1 h5{
    width: 5vw;
    text-align: right;
}
.line-part1 h5, .line-part1 h6{
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity:0;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: 'plain light';
        font-weight: 500;
        -webkit-text-stroke: 0.1px #fff;
        color:#fff;
        opacity:1;
    }
    48%{
        font-family: 'plain light';
        font-weight: 500;
        -webkit-text-stroke: 0.1px #fff;
        color:#fff;
        opacity:0;

    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 0.1px #fff;
        color:transparent;
        font-weight: 500;
        opacity:1;
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 0.1px #fff;
        color:transparent;
        font-weight: 500;
        opacity:0;
    }
}

#main{
    position:relative;
    background-color: #0b0b0b;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:3.7vw 5vw;

}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.9vw;
}
#nav-part2 h3{
    font-size: 1.2vw;
    font-weight: 500;
}
.hero{
    width:72%;
    margin-left:28%;
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    position: relative;
    z-index: 99;
}
.hero:nth-child(2){
    margin-top: 12vh;
}
.contain{
    height: fit-content;
    display: flex;
    align-items: center;
}
.contain h1{
    text-decoration: underline;
}
.contain h1:hover{
    -webkit-text-stroke: 2px #fff;
    color:transparent;
    font-weight: 400;
}
.contain h2{
    font-size: 7.5vw;
    line-height: 7.3vw;
    text-transform: uppercase;
    font-weight:600;
}

.hero h1{
    font-size: 7.5vw;
    line-height: 7.3vw;
    text-transform: uppercase;
    font-weight:600;
}